@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --headingFont: 'Roboto Slab', serif;
  --bodyFont: 'Roboto', sans-serif;

  /* colors */
  --red-50: #f8f0f0;
  --red-100: #ecd9d9;
  --red-200: #dcbcbc;
  --red-300: #c89f9f;
  --red-400: #b18282;
  --red-500: #986262;
  --red-600: #814848;
  --red-700: #612222;
  --red-800: #532424;
  --red-900: #200c03;

  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #485181;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #0a1520;
  /* rest of the colors */
  --black: rgb(21, 21, 21);
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --blue-light: #00ddff;
  --blue-dark: #0033ff;

  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
}

body {
  width: 100%;
  position: relative;
  background: var(--grey-900);
  font-family: var(--bodyFont);
}

a {
  text-decoration: none;
}

section {
  padding: 4rem 0 1.5rem;
}

/* begin of nav & header */

header {
  width: 100%;
  height: 70px;
  position: fixed;
  backdrop-filter: blur(4px);
  top: 0;
  right: 0;
  z-index: 1000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.793), rgba(0, 0, 0, 0));
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.main {
  margin-top: 5rem;
}

.logo p {
  font-family: var(--headingFont);
  font-size: 2rem;
  letter-spacing: 0.05rem;
  color: var(--white);
  font-weight: 400;
}

.logo p span {
  color: var(--blue-light);
}

.bx {
  font-size: 24px;
  color: var(--white);
}

.navbar {
  font-family: var(--headingFont);
  display: flex;
  column-gap: 5rem;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}

.navbar a::after {
  content: '';
  width: 0;
  height: 1px;
  background: var(--blue-light);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.2s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
  width: 100%;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 1000001;
  display: none;
}

.btn {
  font-family: var(--headingFont);
  cursor: pointer;
  color: var(--grey-600);
  background: var(--white);
  border: none;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.5rem 1rem;
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
}

.btn:hover {
  background: var(--blue-dark);
  color: var(--white);
}

.container {
  width: 100%;
  min-height: 640px;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--white);
}

.container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  border-radius: 0.2rem !important;
  background: var(--white) !important;
  opacity: 1 !important;
}

/* swiper */

.swiper-pagination-bullet-active {
  width: 1.5rem !important;
  background: var(--blue-dark) !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--white) !important;
}

/* End of swiper */

.home-text {
  z-index: 1000;
  padding: 0 150px;
}

.home-text span {
  color: var(--white);
  font-weight: 500;
  text-transform: uppercase;
}

.home-text h1 {
  color: var(--white);
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.play {
  position: absolute;
  right: 4rem;
  bottom: 10%;
}

.play .bx {
  background: var(--white);
  padding: 10px;
  font-size: 2rem;
  border-radius: 50%;
  color: var(--blue-dark);
}

.play .bx:hover {
  background: var(--blue-dark);
  color: var(--white);
  transition: 0.2s all linear;
}

/* end of nav & header */

/* movie list */
.movie-list {
  width: 100%;
  height: 250px;
  margin-top: 40px;
  position: relative;
  padding: 0 3rem;
  color: var(--white);
}

.movie-category {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-family: var(--headingFont);
}

.movie-container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.movie-container::-webkit-scrollbar {
  display: none;
}

.movie {
  flex: 0 0 auto;
  width: 24%;
  height: 200px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.movie img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.movie p {
  text-transform: capitalize;
  height: 20px;
  overflow: hidden;
}

.pre-btn,
.nxt-btn,
.popular_pre-btn,
.popular_nxt-btn {
  position: absolute;
  height: 200px;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5w;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
}
.pre-btn,
.popular_pre-btn {
  left: 1.5vw;
}

.nxt-btn,
.popular_nxt-btn {
  right: 1.5vw;
}

.pre-btn .bx,
.nxt-btn .bx,
.popular_pre-btn .bx,
.popular_nxt-btn .bx {
  font-size: 1.5rem;
  object-fit: contain;
}

.pre-btn:hover,
.nxt-btn:hover,
.popular_pre-btn:hover,
.popular_nxt-btn:hover {
  opacity: 1;
}

/* search */

.search-container {
  margin-top: 60px;
  background-color: transparent;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-element {
  margin-top: 80px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.search-element .form-control {
  font-family: var(--headingFont);
  color: var(--white);
  padding: 0.3rem 0.7rem;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  outline: none;

  width: 350px;
}

.form-control::placeholder {
  color: var(--white);
}

/* popular */
.popular-list {
  width: 100%;
  margin-top: 40px;
  position: relative;
  padding: 0 3rem;
  color: var(--white);
}

.populargrid {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.populargrid::-webkit-scrollbar {
  display: none;
}

.popularmovie-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-family: var(--headingFont);
}

.popularmovie {
  flex: 0 0 auto;
  width: 24%;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.popularmovie img {
  width: 100%;
  object-fit: cover;
}

.popularmovie-info {
  background-color: var(--grey-900);
  color: var(--white);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  letter-spacing: 1px;
  transform: translateY(101%);
  transition: transform 0.5s ease;
  opacity: 0.8;
  font-family: var(--headingFont);
}

.popularmovie-info .bx {
  color: var(--blue-light);
  font-size: 0.8rem;
}

.popularmovie_poster:hover .popularmovie-info {
  transform: translateY(0);
}

.popularmovie_poster {
  cursor: pointer;
}
